<div ng-controller="GroupListController" ng-init="init('OtherGroups')" ng-repeat="group in otherGroups | orderBy:'name'">
    <i ng-show="group.expanded" class="fa fa-minus-square-o sk_clickable" ng-click="toggleGroup(group)"></i>
    <i ng-hide="group.expanded" class="fa fa-plus-square-o sk_clickable" ng-click="toggleGroup(group)"></i>

    <a class="sk_black" ng-href="#/home/groups/{{ group._id }}">
        <avatar class="avatar16" id="{{ group.owner }}"></avatar> {{ group.name }}
    </a>

    <img ng-show="group.loading" src="/assets/images/status/loading16.gif">

    <div ng-show="group.expanded">
        <div ng-repeat="member in group.memberUsers | orderBy:'firstName'" class="sk_ident">
            <a class="sk_black" ng-href="#/home/profile/{{ member._id }}">
                <avatar class="avatar16" id="{{ member._id }}" named="true"></avatar>
            </a>
        </div>
    </div>
</div>
<div ng-hide="otherGroups.length" class="sk_null">No team enrollments</div>