<div>
    <avatar class="avatar16" id="{{ group.owner }}"></avatar>
    <a ng-href="#/home/groups/{{ group._id }}"><span class="bold">{{ group.name }}</span></a>
    <span class="sk_null">&#8212;</span> {{ group.description }}

    <img ng-show="group.loading" src="/assets/images/status/loading16.gif">
    <span ng-hide="group.loading" class="small pull-right">{{ group.members.length | number:0 }} members</span>
</div>
<div ng-include="'/views/home/groups/members.html'"></div>
<div style="margin-top: 10px">
    <table style="width: 100%">
        <thead ng-include="'/views/home/workloads/sortable_table_header.html'"></thead>
        <tbody class="workload_list_container">
        <tr ng-repeat="workload in sort(group.workloads)"  ng-class="getWorkloadHighlightClass(workload, $index)">
            <td class="col-md-3">
                <workload-status code="{{ workload.statusCode }}"></workload-status>
                <a class="sk_black" ng-click="selectWorkload(workload)">{{ workload.name }}</a>
            </td>
            <td class="col-md-4">
                <span class="left">
                    <a class="sk_black" ng-href="#/home/profile/{{ workload.msftLeadId }}">
                        <avatar class="avatar16" id="{{ workload.msftLeadId }}" named="true"></avatar>
                    </a>
                </span>
                <restricted class="pull-right">
                    <span ng-show="workload.consumption" class="sk_currency pull-right">
                       ${{ workload.consumption | number:0 }}
                    </span>
                    <span ng-hide="workload.consumption" class="sk_tbd pull-right">TBD</span>
                </restricted>
            </td>
            <td class="col-md-4">
                <censor text="{{ getLatestStatusText(workload) }}"></censor>
            </td>
            <td class="col-md-1 workload_small_duration">{{ getLatestStatusTime(workload) | duration }}</td>
        </tr>
        </tbody>
    </table>

    <ul ng-hide="group.workloads.length">
        <li ng-show="loading"> <img src="/assets/images/status/loading16.gif"> Searching for workloads...</li>
        <li ng-hide="loading">No workloads found</li>
    </ul>
</div>