.sk_add_icon {
    color: #00ce80;
}

.sk_delete_icon {
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    color: #888888;
    padding: 1px;
}

.sk_icon {
    color: #00ee80;
    cursor: pointer;
    font-size: 14pt;
}

.sk_icon_bulb {
    color: #ddd000;
    font-size: 12pt;
    font-weight: bold;
}

.sk_icon_inactive {
    color: #4bb0de;
    font-size: 14pt;
}

.sk_info {
    color: #20a0ff;
}

.sk_calender {
    color: #cc4444;
}

.sk_comment {
    color: #20a0ff;
}

.sk_diamond {
    color: #a7a7a7;
}

.sk_follow {
    color: #00ce80;
}

.sk_group {
    color: #20a0ff;
}

.sk_home {
    color: #20a0ff;
    font-size: 12pt;
}

.sk_levelup {
    color: #20a0ff;
}

.sk_message {
    color: #20a0ff;
}

.sk_news_feed {
    color: #20a0ff;
}

.sk_notifications {
    color: #20a0ff;
}

.sk_photo {
    color: #ff00ff;
}

.sk_profile_edit {
    color: #20a0ff;
}

.sk_toggle {
    color: #2040dd;
}

.sk_test {
    color: #20a0ff;
}

.sk_trophy {
    color: goldenrod
}

.sk_user {
    color: #20a0ff;
}

.sk_sort {
    color: #ff8000;
}