a {
    color: #0080ff;
}

a:hover {
    color: #ff8000;
}

body {
    background: #eeeeee;
}

canvas {
    background-color: #f3f3f3;
    -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
    -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
    box-shadow: 3px 3px 3px 0 #e3e3e3;
    border: 1px solid #c3c3c3;
    height: 100px;
    margin: 6px 0 0 6px;
}

.bold {
    font-weight: bold;
}

.hash_tag {
    color: #286090;
}

.sk_border {
    border: 1px solid #aaaaaa;
    border-radius: 12px;
    height: 500px;
}

.sk_clickable {
    cursor: pointer;
}

.sk_censored {
    border-radius: 4px;
    background: #ff8800;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
}

.sk_completed {
    color: #ff8800;
}

.sk_connected {
    color: #00ee80;
    font-size: 14pt;
}

.sk_currency {
    color: #00aa40;
}

.sk_delete {
    border: 1px solid #cccccc;
    border-radius: 4px;
    background: #f7f7f7;
    color: #42addd;
    cursor: pointer;
    position: relative;
    top: -10px;
    right: -10px;
    padding: 2px;
}

.sk_electric_blue {
    color: #0080ff;
}

.sk_error {
    color: #ff0000;
}

.sk_font24 {
    font-size: 20px;
}

.sk_font16 {
    font-size: 16px;
}

.sk_loading {
    color: #888888;
}

.sk_modal_header {
    background: #5bc0ee;
    border: 1px solid #4bb0de;
    color: #ffffff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px
}

.sk_notification_count {
    border: 1px solid #cc0000;
    border-radius: 3px;
    background: #ff0000;
    color: #ffffff;
    font-size: 8pt;
    position: relative;
    top: -3px;
    right: +11px;
    padding: 1px 2px 1px 1px;
}

.sk_notification_dropdown {
    width: 400px;
}

.sk_null {
    color: #aaaaaa;
}

.sk_restricted {
    color: #ff8000;
}

.sk_tbd {
    color: #aaaaaa;
}

.sk_padding_10 {
    padding: 10px
}

a.sk_menu_item {
    color: #888888;
}

a.sk_black {
    color: black;
}

a.sk_relaxed {
    color: black;
}

a.sk_drop_down {
    color: #20a0ff;
}

a:hover.sk_relaxed {
    color: #00ee80;
}

.sk_ident {
    padding-left: 16px;
}

.sk_spectator_bar {
    background: #ffaa00;
    color: white;
    font-weight: bold
}

.sk_sub_title {
    font-weight: bold;
    font-size: 16px;
}

.sk_title_bar {
    background: #5bc0ee;
    margin-bottom: 5px;
}

.sk_title_bar_shadow_default {
    border-bottom: 2px solid #4bb0de;
}

.sk_title_bar_shadow_spectator {
    border-bottom: 2px solid #ee9900;
}

.sk_title_text {
    color: white;
    font-size: 20pt;
    font-weight: bold;
    font-family: "MS Reference Sans Serif", serif;
    text-shadow: 2px 2px #2090cf;
    vertical-align: middle;
    height: 100%;
}

.sk_title_logo {
    width: 26px;
    height: 26px;
    vertical-align: middle;
}

.sk_header_username {
    color: white;
}

.sk_result_item {
    padding: 4px;
}
