<div ng-controller="GroupDetailsController" ng-init="init()">
    <div ng-controller="WorkloadController" ng-init="init('group.workloads')" class="row" style="margin-top: 10px">
        <div class="group_tile">
            <div>
                <avatar class="avatar16" id="{{ group.owner }}"></avatar>
                <a ng-href="#/home/groups/{{ group._id }}"><span class="bold">{{ group.name }}</span></a>
                <span class="sk_null">&#8212;</span> {{ group.description }}

                <img ng-show="group.loading" src="/assets/images/status/loading16.gif">
                <span ng-hide="group.loading" class="small pull-right">{{ group.members.length | number:0 }} members</span>
            </div>
            <div ng-include="'/views/home/groups/members.html'"></div>
            <div style="padding-top: 10px">
                <span class="group_label">Active Workloads</span>
                <div class="pull-right" style="padding-bottom: 10px">
                    <span ng-click="addWorkload(group.workloads)" class="btn btn-success status_header_bar">
                        <i class="fa fa-plus-circle status_header_bar"></i> Workload
                    </span>
                    <span class="sk_ident">
                        <a ng-show="group.workloads.length" ng-href="/api/workloads/download/{{ group._id }}/group/workloads.csv">
                           <span class="btn btn-info status_header_bar">
                                <i class="fa fa-cloud-download"></i> Download
                           </span>
                        </a>
                    </span>
                </div>
            </div>

            <div style="margin-top: 10px">
                <table style="width: 100%">
                    <thead>
                        <tr>
                            <th style="padding-left: 16px">Workload</th>
                            <th style="padding-left: 16px">
                                <span class="left">Microsoft Lead</span>
                                <span class="pull-right">Consumption</span>
                            </th>
                            <th style="text-align: center">Status / Next Steps</th>
                            <th style="text-align: center">Updated</th>
                        </tr>
                    </thead>
                    <tbody class="workload_list_container">
                        <tr ng-repeat="workload in group.workloads" ng-class="getWorkloadHighlightClass(workload, $index)">
                            <td class="col-md-3">
                                <i ng-class="getStatusIcon(workload)"></i>
                                <a ng-click="selectWorkLoad(workload)">{{ workload.name }}</a>
                            </td>
                            <td class="col-md-3">
                                <span class="left">
                                    <avatar class="avatar16" id="{{ workload.msftLeadId }}"></avatar>
                                    <a class="sk_black" ng-href="#/home/profile/{{ workload.msftLeadId }}">{{ workload.msftLead }}</a>
                                </span>
                                <span class="right">
                                    <span ng-show="workload.consumption" class="sk_currency pull-right">
                                       ${{ workload.consumption | number:0 }}
                                    </span>
                                    <span ng-hide="workload.consumption" class="sk_tbd pull-right">TBD</span>
                                </span>
                            </td>
                            <td class="col-md-5">{{ getLatestStatusText(workload) }}</td>
                            <td class="col-md-1" style="font-size: 8pt; color: #0080ff">{{ getLatestStatusTime(workload) | duration }}</td>
                        </tr>
                    </tbody>
                </table>

                <ul ng-hide="group.workloads.length || loading">
                    <li>No Active Workloads</li>
                </ul>
            </div>
        </div>

        <div class="group_details" ng-show="selectedWorkload">
            <div style="padding: 10px">
                <span class="group_label">Workload Details</span>
                <div class="pull-right">
                    <span class="sk_ident">
                        <span ng-click="addComment(selectedWorkload, group.workloads)" class="btn btn-success status_header_bar">
                            <i class="fa fa-comment status_header_bar"></i> Comment
                        </span>
                    </span>
                     <span class="sk_ident">
                        <span ng-click="editWorkload(selectedWorkload, group.workloads)" class="btn btn-warning status_header_bar">
                            <i class="fa fa-edit status_header_bar"></i> Edit
                        </span>
                    </span>
                     <span class="sk_ident">
                        <span ng-click="deactivateWorkload(selectedWorkload, group.workloads)" class="btn btn-danger status_header_bar">
                            <i class="fa fa-check-circle status_header_bar"></i> Close
                        </span>
                    </span>
                </div>
            </div>

            <table style="width: 100%; border-spacing: 4px; border-collapse: separate;">
                <tr>
                    <th class="col-md-2">Title</th>
                    <td class="col-md-10" colspan="3">{{ selectedWorkload.name }}</td>
                </tr>
                <tr>
                    <th class="col-md-2">Microsoft Lead</th>
                    <td class="col-md-4">
                        <avatar class="avatar16" id="{{ selectedWorkload.msftLeadId }}"></avatar>
                        <a class="sk_black" ng-href="#/home/profile/{{ selectedWorkload.msftLeadId }}">{{ selectedWorkload.msftLead }}</a>
                    </td>
                    <th class="col-md-2">Business Sponsor</th>
                    <td class="col-md-4">{{ selectedWorkload.businessSponsor }}</td>
                </tr>
                <tr>
                    <th class="col-md-2">Service(s)</th>
                    <td class="col-md-4">{{ getServices(selectedWorkload) }}</td>
                    <th class="col-md-2">Technical Contact</th>
                    <td class="col-md-4">{{ selectedWorkload.technicalContact }}</td>
                </tr>
                <tr>
                    <th class="col-md-2">Opportunity Status</th>
                    <td class="col-md-4">
                        <i ng-class="getStatusIcon(selectedWorkload)"></i>
                        <span ng-class="getStatusClass(selectedWorkload)">{{ selectedWorkload.statusCode | capitalize }}</span>
                    </td>
                    <th class="col-md-2">Deployed Status</th>
                    <td class="col-md-4">
                        <span ng-show="selectedWorkload.deployedStatus">{{ selectedWorkload.deployedStatus }}</span>
                        <span ng-hide="selectedWorkload.deployedStatus" class="sk_null">Not Deployed</span>
                    </td>
                </tr>
                <tr>
                    <th class="col-md-2">Consumption <br><span class="status_small">(Estimated)</span></th>
                    <td class="col-md-4">
                        <span ng-show="selectedWorkload.consumption">$ {{ selectedWorkload.consumption | number }}/month</span>
                        <span ng-hide="selectedWorkload.consumption" class="sk_tbd">TBD</span>
                    </td>
                    <th class="col-md-2">Go Live Estimate<br><span class="status_small">(By Fiscal Month)</span></th>
                    <td class="col-md-4">
                        <span ng-show="selectedWorkload.estimateGoLive">{{ selectedWorkload.estimateGoLive | date:'MM/dd/yyyy' }}</span>
                        <span ng-hide="selectedWorkload.estimateGoLive" class="sk_tbd">TBD</span>
                    </td>
                </tr>
                <tr>
                    <th class="col-md-2">Created On</th>
                    <td class="col-md-4">{{ selectedWorkload.creationTime | date:'MM/dd/yyyy hh:mm:ssa Z' }}</td>
                    <th class="col-md-2">Last Updated</th>
                    <td class="col-md-4">{{ selectedWorkload.lastUpdatedTime | date:'MM/dd/yyyy hh:mm:ssa Z' }}</td>
                </tr>
            </table>

            <div style="padding: 10px">
                <span class="group_label">Status History</span>
                <table style="width: 100%; margin-top: 10px">
                    <thead>
                        <tr>
                            <th style="text-align: left; padding-left: 16px">Status</th>
                            <th style="text-align: left; padding-left: 16px">Author</th>
                            <th style="text-align: left; padding-left: 16px">Time</th>
                        </tr>
                    </thead>

                    <tbody class="group_status_history_container">
                        <tr ng-repeat="status in selectedWorkload.statuses | orderBy:'-creationTime'">
                            <td class="col-md-8"><span class="sk_null sk_ident">{{ $index + 1 }}.</span> {{ status.statusText }}</td>
                            <td class="col-md-2">
                                <avatar class="avatar16" id="{{ status.submitterId }}"></avatar>
                                <a class="sk_black" ng-href="#/home/profile/{{ status.submitterId }}"><name id="{{ status.submitterId }}"></name></a>
                            </td>
                            <td class="col-md-2" style="font-size: 8pt; color: #0080ff">{{ status.creationTime | duration }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>