<div ng-controller="GroupDetailsController" ng-init="init()">
    <div ng-controller="WorkloadController" ng-init="init('group.workloads')" class="row" style="margin-top: 10px">
        <div class="group_tile">
            <div ng-include="'/views/home/groups/summary.html'"></div>
        </div>

        <div class="group_details" ng-show="selectedWorkload">
            <div style="padding: 10px">
                <span class="group_label">Workload Details</span>
                <div class="pull-right">
                    <span class="sk_ident">
                        <span ng-click="addComment(selectedWorkload, group.workloads)" class="btn btn-success status_header_bar">
                            <i class="fa fa-comment status_header_bar"></i> Comment
                        </span>
                    </span>
                     <span class="sk_ident">
                        <span ng-click="editWorkload(selectedWorkload, group.workloads)" class="btn btn-warning status_header_bar">
                            <i class="fa fa-edit status_header_bar"></i> Edit
                        </span>
                    </span>
                     <span class="sk_ident">
                        <span ng-click="deactivateWorkload(selectedWorkload, group.workloads)" class="btn btn-danger status_header_bar">
                            <i class="fa fa-check-circle status_header_bar"></i> Close
                        </span>
                    </span>
                </div>
            </div>

            <table style="width: 100%; border-spacing: 4px; border-collapse: separate;">
                <tr>
                    <th class="col-md-2">Title</th>
                    <td class="col-md-10" colspan="3">{{ selectedWorkload.name }}</td>
                </tr>
                <tr>
                    <th class="col-md-2">Microsoft Lead</th>
                    <td class="col-md-4">
                        <avatar class="avatar16" id="{{ selectedWorkload.msftLeadId }}"></avatar>
                        <a class="sk_black" ng-href="#/home/profile/{{ selectedWorkload.msftLeadId }}">{{ selectedWorkload.msftLead }}</a>
                    </td>
                    <th class="col-md-2">Business Sponsor</th>
                    <td class="col-md-4">{{ selectedWorkload.businessSponsor }}</td>
                </tr>
                <tr>
                    <th class="col-md-2">Service(s)</th>
                    <td class="col-md-4">{{ getServices(selectedWorkload) }}</td>
                    <th class="col-md-2">Technical Contact</th>
                    <td class="col-md-4">{{ selectedWorkload.technicalContact }}</td>
                </tr>
                <tr>
                    <th class="col-md-2">Opportunity Status</th>
                    <td class="col-md-4">
                        <i ng-class="getStatusIcon(selectedWorkload)"></i>
                        <span ng-class="getStatusClass(selectedWorkload)">{{ selectedWorkload.statusCode | capitalize }}</span>
                    </td>
                    <th class="col-md-2">Deployed Status</th>
                    <td class="col-md-4">
                        <span ng-show="selectedWorkload.deployedStatus">{{ selectedWorkload.deployedStatus }}</span>
                        <span ng-hide="selectedWorkload.deployedStatus" class="sk_null">Not Deployed</span>
                    </td>
                </tr>
                <tr>
                    <th class="col-md-2">Consumption <br><span class="status_small">(Estimated)</span></th>
                    <td class="col-md-4">
                        <span ng-show="selectedWorkload.consumption">$ {{ selectedWorkload.consumption | number }}/month</span>
                        <span ng-hide="selectedWorkload.consumption" class="sk_tbd">TBD</span>
                    </td>
                    <th class="col-md-2">Go Live Estimate<br><span class="status_small">(By Fiscal Month)</span></th>
                    <td class="col-md-4">
                        <span ng-show="selectedWorkload.estimateGoLive">{{ selectedWorkload.estimateGoLive | date:'MM/dd/yyyy' }}</span>
                        <span ng-hide="selectedWorkload.estimateGoLive" class="sk_tbd">TBD</span>
                    </td>
                </tr>
                <tr>
                    <th class="col-md-2">Created On</th>
                    <td class="col-md-4">{{ selectedWorkload.creationTime | date:'MM/dd/yyyy hh:mm:ssa Z' }}</td>
                    <th class="col-md-2">Last Updated</th>
                    <td class="col-md-4">{{ selectedWorkload.lastUpdatedTime | date:'MM/dd/yyyy hh:mm:ssa Z' }}</td>
                </tr>
            </table>

            <div class="col-md-12" style="margin-top: 10px">
                <span class="group_label">Contributors</span>
                <div ng-include="'/views/home/workloads/contributors.html'"></div>
            </div>

            <div style="padding: 10px">
                <span class="group_label">Status History</span>
                <table style="width: 100%; margin-top: 10px">
                    <thead>
                        <tr>
                            <th style="text-align: left; padding-left: 16px">Status</th>
                            <th style="text-align: left; padding-left: 16px">Author</th>
                            <th style="text-align: left; padding-left: 16px">Time</th>
                        </tr>
                    </thead>

                    <tbody class="group_status_history_container">
                        <tr ng-repeat="status in selectedWorkload.statuses | orderBy:'-creationTime'">
                            <td class="col-md-8"><span class="sk_null sk_ident">{{ $index + 1 }}.</span> {{ status.statusText }}</td>
                            <td class="col-md-2">
                                <avatar class="avatar16" id="{{ status.submitterId }}"></avatar>
                                <a class="sk_black" ng-href="#/home/profile/{{ status.submitterId }}"><name id="{{ status.submitterId }}"></name></a>
                            </td>
                            <td class="col-md-2 workload_small_duration">{{ status.creationTime | duration }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>