<div class="row">
    <div class="col-md-12" style="padding-top: 10px">
        <span class="workload_header_label sk_toggle" style="padding-left: 10px">
            {{ workloads.length }} {{ activeOnly ? 'Active' : '' }} Workload<span ng-show="workloads.length > 1">s</span>
        </span>
        <span class="pull-right workload_header_label" style="padding-right: 10px">
            <span class="sk_toggle">Active Only</span>
            <i ng-click="toggleActiveWorkloads()"
               ng-class="activeOnly ? 'fa-toggle-on' : 'fa-toggle-off'"
               class="fa fa-2x sk_clickable sk_toggle"
               style="vertical-align: middle"></i>
        </span>
    </div>
</div>

<div class="workload_details">
    <div style="margin-top: 10px">
        <table style="width: 100%">
            <thead ng-include="'/views/home/workloads/sortable_table_header.html'"></thead>
            <tbody class="workload_list_container">
            <tr ng-repeat="workload in sort(workloads)" ng-class="getWorkloadHighlightClass(workload, $index)">
                <td class="col-md-3">
                    <span ng-hide="workload.active">
                        <i class="fa fa-check-circle-o sk_completed"></i>
                        <span class="sk_clickable"
                              ng-click="selectWorkload(workload)">{{ workload.name }}</span>
                    </span>
                    <span ng-show="workload.active">
                        <workload-status code="{{ workload.statusCode }}"></workload-status>
                        <span class="sk_clickable" ng-click="selectWorkload(workload)">{{ workload.name }}</span>
                    </span>
                </td>
                <td class="col-md-4">
                    <span class="left">
                        <a class="sk_black" ng-href="#/home/profile/{{ workload.msftLeadId }}">
                            <avatar class="avatar16" id="{{ workload.msftLeadId }}" named="true"></avatar>
                        </a>
                    </span>
                    <restricted class="pull-right">
                        <span ng-show="workload.consumption" class="sk_currency pull-right">
                           ${{ workload.consumption | number:0 }}
                        </span>
                        <span ng-hide="workload.consumption" class="sk_tbd pull-right">TBD</span>
                    </restricted>
                </td>
                <td class="col-md-4">
                    <censor text="{{ getLatestStatusText(workload) }}"></censor>
                </td>
                <td class="col-md-1 workload_small_duration">{{ getLatestStatusTime(workload) | duration }}</td>
            </tr>
            </tbody>
        </table>

        <ul ng-hide="workloads.length">
            <li ng-show="loading"> <img src="/assets/images/status/loading16.gif"> Searching for workloads...</li>
            <li ng-hide="loading">No workloads found</li>
        </ul>
    </div>
</div>

<div class="group_details" ng-show="selectedWorkload">
    <div style="padding: 10px">
        <span class="group_label">Workload Details</span>
        <div ng-show="selectedWorkload.active && isMe()" class="pull-right">
            <span class="sk_ident">
                <span ng-click="addComment(selectedWorkload, workloads)" class="btn btn-success status_header_bar">
                    <i class="fa fa-comment status_header_bar"></i> Comment
                </span>
            </span>
             <span class="sk_ident">
                <span ng-click="editWorkload(selectedWorkload, workloads)" class="btn btn-warning status_header_bar">
                    <i class="fa fa-edit status_header_bar"></i> Edit
                </span>
            </span>
             <span class="sk_ident">
                <span ng-click="deactivateWorkload(selectedWorkload, workloads)" class="btn btn-danger status_header_bar">
                    <i class="fa fa-check-circle status_header_bar"></i> Close
                </span>
            </span>
        </div>
    </div>

    <table style="width: 100%; border-spacing: 4px; border-collapse: separate;">
        <tr>
            <th class="col-md-2">Title</th>
            <td class="col-md-10" colspan="3">{{ selectedWorkload.name }}</td>
        </tr>
        <tr>
            <th class="col-md-2">Microsoft Lead</th>
            <td class="col-md-4">
                <avatar class="avatar16" id="{{ selectedWorkload.msftLeadId }}"></avatar>
                <a class="sk_black" ng-href="#/home/profile/{{ selectedWorkload.msftLeadId }}">{{ selectedWorkload.msftLead }}</a>
            </td>
            <th class="col-md-2">Business Sponsor</th>
            <td class="col-md-4">
                <restricted>{{ selectedWorkload.businessSponsor }}</restricted>
            </td>
        </tr>
        <tr>
            <th class="col-md-2">Service(s)</th>
            <td class="col-md-4">
                <span ng-show="selectedWorkload.azureServices.length">{{ getServices(selectedWorkload) }}</span>
                <span ng-hide="selectedWorkload.azureServices.length" class="sk_null">Not Specified</span>
            </td>
            <th class="col-md-2">Technical Contact</th>
            <td class="col-md-4">
                <restricted>{{ selectedWorkload.technicalContact }}</restricted>
            </td>
        </tr>
        <tr>
            <th class="col-md-2">Opportunity Status</th>
            <td class="col-md-4">
                <span ng-hide="selectedWorkload.active" class="sk_completed">
                    <i class="fa fa-check-circle-o sk_completed"></i> Completed
                </span>
                <span ng-show="selectedWorkload.active">
                    <workload-status code="{{ selectedWorkload.statusCode }}" labeled="true"></workload-status>
                </span>
            </td>
            <th class="col-md-2">Deployed Status</th>
            <td class="col-md-4">
                <span ng-show="selectedWorkload.deployedStatus">{{ selectedWorkload.deployedStatus }}</span>
                <span ng-hide="selectedWorkload.deployedStatus" class="sk_null">Not Deployed</span>
            </td>
        </tr>
        <tr>
            <th class="col-md-2">Consumption <br><span class="status_small">(Estimated)</span></th>
            <td class="col-md-4">
                <span ng-show="selectedWorkload.consumption">$ {{ selectedWorkload.consumption | number }}/month</span>
                <span ng-hide="selectedWorkload.consumption" class="sk_tbd">TBD</span>
            </td>
            <th class="col-md-2">Go Live Estimate<br><span class="status_small">(By Fiscal Month)</span></th>
            <td class="col-md-4">
                <span ng-show="selectedWorkload.estimateGoLive">{{ selectedWorkload.estimateGoLive | date:'MM/dd/yyyy' }}</span>
                <span ng-hide="selectedWorkload.estimateGoLive" class="sk_tbd">TBD</span>
            </td>
        </tr>
        <tr>
            <th class="col-md-2">Created On</th>
            <td class="col-md-4">{{ selectedWorkload.creationTime | date:'MM/dd/yyyy hh:mm:ssa Z' }}</td>
            <th class="col-md-2">Last Updated</th>
            <td class="col-md-4">{{ selectedWorkload.lastUpdatedTime | date:'MM/dd/yyyy hh:mm:ssa Z' }}</td>
        </tr>
    </table>

    <div class="col-md-12" style="margin-top: 10px">
        <span class="group_label">Contributors</span>
        <div ng-include="'/views/home/workloads/contributors.html'"></div>
    </div>

    <div style="padding: 10px">
        <span class="group_label">Status History</span>
        <table style="width: 100%; margin-top: 10px">
            <thead>
            <tr>
                <th style="text-align: left; padding-left: 16px">Status</th>
                <th style="text-align: left; padding-left: 16px">Author</th>
                <th style="text-align: left; padding-left: 16px">Time</th>
            </tr>
            </thead>

            <tbody class="group_status_history_container">
            <tr ng-repeat="status in selectedWorkload.statuses | orderBy:'-creationTime'">
                <td class="col-md-8">
                    <span class="sk_null sk_ident">{{ $index + 1 }}.</span>
                    <censor text="{{ status.statusText }}"></censor>
                </td>
                <td class="col-md-3">
                    <avatar class="avatar16" id="{{ status.submitterId }}"></avatar>
                    <a class="sk_black" ng-href="#/home/profile/{{ status.submitterId }}">
                        <name id="{{ status.submitterId }}"></name>
                    </a>
                </td>
                <td class="col-md-1 workload_small_duration">{{ status.creationTime | duration }}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>